body,html{
  font-family:helvetica, sans-serif;
  font-size:16px;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

p{
  line-height:1.5rem;
  color:hsl(0, 0%, 40%);
}

h1{
  font-size:1.5rem;
  font-weight:600;
  color:hsl(0, 0%, 26%);
}

h2{
  font-family:'Abril Fatface' /*woohoo!*/, serif;
  font-size:2.5rem;
  font-weight:700;
	color:hsl(0, 0%, 20%);
}

.flex{
  display:flex;
}

.flex-center{
  display:flex;
  justify-content:center;
}

.flex-column-center{
  display:flex;
  flex-flow:column;
  justify-content:center;
}

.width34{
  width:34%;
}

.width35{
  width:35%;
}

.width40{
  width:40%;
}

.width60{
  width:60%;
}

.width65{
  width:65%;
}

.width80{
  width:80%;
}

.width100{
  width:100%;
}

/* HEADER SECTION */


header{
  position:fixed;
  justify-content:space-between;
  height:4rem;
  top:0rem;
  z-index:10;
  border-bottom:2px solid hsl(150, 2%, 83%);
  background-color:hsl(180, 12%, 95%);
}

.mobile-header{
  display:none;
}

.logo{
  align-items:center;
  margin-left:1.5rem;
}

.logo-image{
  height:3rem;
}

.logo-colmar{
  font-weight:700;
  color:hsl(0, 0%, 26%);
}

.logo-academy{
  font-weight:500;
  color:hsl(150, 2%, 60%);
}

nav{
  align-items:center;
  margin-right:1.5rem;
}

nav li{
  display:inline-block;
  font-family:helvetica;
  padding-left:1rem;
  color:hsl(0, 0%, 26%);
}

nav li a:link{
  color:hsl(150, 2%, 60%);
}

nav li a:visited{
  color:hsl(150, 2%, 50%);
}

nav li a:active{
  color:hsl(150, 2%, 40%)
}

@media only screen and (max-width:745px){

  .desktop-header{
  display:none;
  }

  .mobile-header{
  display:flex;
  width:calc(100%);
  }

  .mobile-header ul{
  display:flex;
  justify-content:space-around;
  width:100%;
  }

  .mobile-header-icon{
  height:3rem;
  }

}


/* INTRO SECTION */


#intro-section{
  margin-top:4rem;
  background-color:hsl(150, 2%, 83%);
}

.intro-spacer{
  padding-bottom:2rem;
}

.intro-img-div{
  padding:2rem 2.5rem 0rem 1.5rem;

}

.intro-info h2{
  padding:2rem 0rem 2rem 1rem;
}

.intro-info h1{
  padding:0rem 0rem 1.5rem 1rem;
}

.start-here{
  margin-bottom:2rem;
  margin-left:1rem;
  background-color:hsl(0, 0%, 26%);
}

.start-here a{
  color:hsl(180, 12%, 95%);
  text-decoration:none;
  padding:1rem 0rem; /*wireframe says 8px but shows 16px for this, and 16 px looks better so I chose that one */
}

.start-here a:link{
  color:hsl(180, 12%, 95%);
  box-shadow:0rem 0rem;
  transition:box-shadow 0.5s ease-out;
}

.start-here a:visited{
  color:hsl(180, 12%, 95%);
  box-shadow:0rem 0rem;
  transition:box-shadow 0.5s ease-out;
}

.start-here a:hover{
  box-shadow:0.4rem 0.4rem 0.05rem hsl(180, 8%, 65%);
  transition:box-shadow 0.5s ease-out;
}

.start-here a:active{
  box-shadow:0.4rem 0.4rem 0.05rem hsl(180, 8%, 65%);
  color:hsl(150, 2%, 60%);
}

@media only screen and (max-width:745px){

#intro-section .intro-spacer{
  display:flex;
  justify-content: center;
}

#intro-section .intro-img-div{
  display:none;
}

.intro-info{
width:calc(100% - 2rem);
}

.intro-info .mobile-spacer{
  width:100%;
}

.intro-info h2{
  padding:2rem 0rem 2rem 0rem;
}

.intro-info h1{
  padding:0rem 0rem 1.5rem 0rem;
}

.start-here{
  margin-left:0rem;
}

}


/* CAMPUS INFO SECTION */


#campus-info-section{
  background-color:hsl(180, 12%, 95%);
}

.campus-info-div1{
  padding:2rem 1.5rem;
}

.campus-info-div1 h2{
  padding-top:2rem;
}

.campus-info-div1 p{
  padding-top:1.5rem;
}

.campus-info-div2{
  padding:1rem 0rem 3rem 0rem;
  border-left:2px hsl(150, 2%, 83%) solid;
}

 .campus-info-card{
  border-bottom:2px hsl(150, 2%, 83%) solid;
 }

.campus-info-card-text{
  padding:1rem 0rem;
}

.campus-info-card-text a{
  font-family:helvetica;
  color:hsl(180, 12%, 95%);
  background-color:hsl(0, 0%, 26%);
  text-decoration:none;
}

.campus-info-card-text a:link{
  color:hsl(180, 12%, 95%);
  box-shadow:0rem 0rem;
  transition:box-shadow 0.5s ease-out;
}

.campus-info-card-text a:visited{
  color:hsl(180, 12%, 95%);
  box-shadow:0rem 0rem;
  transition:box-shadow 0.5s ease-out;
}

.campus-info-card-text a:hover{
  box-shadow:0.4rem 0.4rem 0.05rem hsl(180, 8%, 65%);
  transition:box-shadow 0.5s ease-out;
}

.campus-info-card-text a:active{
  box-shadow:0.4rem 0.4rem 0.05rem hsl(180, 8%, 65%);
  color:hsl(150, 2%, 60%);
}

.campus-info-card-text h1,p,a{
  padding:0.5rem 0rem;
}

.campus-info-card-img{
  height:100%;
  padding:1rem;
}

.campus-info-card-mobile-img{
  display:none;
}

@media only screen and (max-width:745px){

  .campus-info-div1{
  display:none;
  }

  .campus-info-div2{
  width:100%;
  padding-top:0rem;
  }

  .campus-info-card{
  display:flex;
  flex-flow:column;
  justify-content: center;
  border-bottom:none;
  }

  .campus-info-card-img{
  display:none;
  }

  .campus-info-card-mobile-img{
  display:inline-block;
  margin:1rem;
  width:calc(100% - 2rem);
  }

  .campus-info-card-text{
  width:100%;
  padding:0rem 2rem;
  }

  .campus-info-card-text p{
  display:block;
  margin-bottom:0.5rem;
  }

  .campus-info-card-text a{
  width:calc(100% - 4rem);
  }

}


/* LEARNING SECTION */


#learning-section{
  background-color:hsl(150, 2%, 83%);
}

.learning-title{
  padding:2rem 0rem 1rem 0rem;
}

.learning-cards{
  flex-flow:row wrap;
  padding-bottom:1rem;
}

.learning-card{
  width:25%;
  margin:1rem;
  background-color:hsl(180, 100%, 100%);
}

.learning-card-text{
  text-align:left;
  padding:0.5rem 0rem 1rem 1rem;
}

.learning-card-text h1,p{
  padding:0.5rem 0rem;
}

.learning-mobile-icon{
  display:none;
}

@media only screen and (max-width:745px){

  #learning-section{
  border:2px solid hsl(150, 2%, 83%);
  background-color:hsl(180, 12%, 95%);
  }

  .learning-title{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom:1rem;
  }

  .learning-cards{
  display:flex;
  flex-flow:column;
  justify-content: center;
  width:100%;
  padding-top:0rem;
  }

  .learning-card{
  width:calc(100% - 2rem);
  display:flex;
  margin-top:0rem;
  background-color:hsl(150, 2%, 83%);
  }

  .learning-card img,p{
  display:none;
  }

  .learning-mobile-icon{
    display:inline-block;
  }

}


/* THESIS EXHIBIT SECTION */


#thesis-exhibit-section{
  background-color:hsl(180, 12%, 95%);
}

.thesis-title{
  padding:2rem 0rem;
}

.thesis-exhibit-div1{
  padding:0rem 1rem 0rem 1.5rem;
}

.thesis-exhibit-div1 video{
  border:2px solid hsl(150, 2%, 83%);
} /* added to try and make the alignment look neater because of white space at top of video*/

.thesis-exhibit-div1-text{
  padding:1.5rem 0rem 2rem 0rem;
}

.thesis-exhibit-div2-card{
  padding:1rem;
  background-color:hsl(150, 2%, 83%);
}

.thesis-exhibit-div2-card1{
  padding:1rem;
}

.thesis-exhibit-div2-img{
  height:100%;
}

.thesis-exhibit-div2-text{
  padding-left:1rem;
}

@media only screen and (max-width:745px){

.thesis-exhibit-div1-text,
.thesis-exhibit-div2-card,
.thesis-exhibit-div2-card1,
.thesis-exhibit-div2-img,
.thesis-exhibit-div2-text{
  display:none;
}

.thesis-mobile-spacer{
  display:block;
}

.thesis-exhibit-div1{
  padding:0rem;
  width:100%;
  border:0rem;
  background-color:hsl(180, 10%, 99%);
}

.thesis-exhibit-div1 video{
  border-top:2px solid hsl(150, 2%, 83%);
  margin-bottom:1.5rem;
}
}


/* FOOTER SECTION */


footer{
  justify-content:space-between;
  padding:1rem 1.5rem 4rem 1.5rem;
  border-top:2px solid lightgrey;
  background-color:hsl(180, 10%, 99%);
}

footer li{
  padding-left:1rem;
}

footer li a:link{
  color:hsl(150, 2%, 60%);
}

footer li a:visited{
  color:hsl(150, 2%, 50%);
}

footer li a:active{
  color:hsl(150, 2%, 40%)
}

@media only screen and (max-width:745px){

  footer{
  border-top:0px;
  padding:0rem;
  }

footer div p{
  display:block;
  padding:1rem;
}

footer div ul li{
  display:none;
}

}
